/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding-left: 15px;
    line-height: 30px;
    font-weight: bold;
    height: 30px;
    display:inline-block;
    border-bottom: 1px solid #969696;
    background: #343434 url(../img/btn-plus.png) no-repeat;
    background-position: top right;
    transition:all linear 0.15s;
    /* Type */
    font-size:12px;
    text-shadow:0px 1px 0px #969696;
    color:#fff;
}


.accordion-section-title.active, .accordion-section-title:hover {
  	 background: #4c4c4c url(../img/btn-plus.png) no-repeat;
    background-position: top right;
 
}
 
.accordion-section-title.active  {
	background: #4c4c4c url(../img/btn-minus.png) no-repeat;
	background-position: top right;
}


.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}