html, body {
	padding: 0;
	margin: 0;
	font-family: 'Tahoma', Arial, sans-serif;
}

a {
	text-decoration: none;
}

#input_container {
    position:relative;
    padding:0;
    margin:0;
    background:#ddd;
    width: 160px;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

#input {
    height:15px;
    margin:0;
    padding-right: 30px;
}

#input_img {
    position:absolute;
    bottom: 6px;
    right: 5px;
    width: 16px;
    height: 16px;
}

.float-right {
	float: right;
	padding: 15px;
}

header {
	height: 120px;
	background: #363636 url(../img/header-bkg.gif) repeat; 
	/* #*/
}

.main-content {
	clear: both;
}

.main-content h1 {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 800;
	font-size: 28px;
	line-height: 30px;
	margin: 5px 0;
	padding: 0;
}

.main-content h2 {
	color: #1da7dd;
	font-size: 16px;
	font-weight: bold;
}

article {
	margin-bottom: 30px;
}

.container {
	max-width: 960px; 
	margin: 0 auto;
	padding: 0 10%;
}

nav {
	display: block;
	width: 100%;
	height: 50px;
	margin: 0 0 20px 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	float: left;
	height: 30px;
	margin: 0 2px 0 0;
}

nav ul li a {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 800;
	color: #1da7dd;
	display: block;
	height: 25px;
	padding: 15px 25px 8px 25px;
	text-decoration: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* smooth hover transition */
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;
}

nav ul li a.active, nav ul li a:hover {
	background-color: #2d2d2d;
}

.sidebar {
	background-color: #929292;
	border-radius: 5px;
	border: 1px solid #3d3d3d;
}

.sidebar p {
	color: #fff;
	font-size: 14px;
}

.sidebar section {
	margin-bottom: 25px;
}

.sidebar .inside {
	padding: 25px;
}

.sidebar h3 {
	margin-top: 0;
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 800;
}

.new-label {
	float: right;
	background-color: #70ccf1;
	font-weight: bold;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 2px 4px;
	margin-top: 2px;
	-webkit-box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
}

#logo {
	display: block;
	height: 60px; 
	min-width: 100px;
	max-width: 300px;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}


.links-container {
	color: #fff;
	font-size: 10px;
	line-height: 12px;
}

.links-container a {
	font-size: 12px;
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
}

.links-container a:hover {
	text-decoration: underline;
	color: #1da7dd;
}

.links-container input {
	border-radius: 3px;
	padding: 5px;
	font-size: 10px;
}


footer {
	clear: both;
	min-height: 200px;
	background-color: #dddddd;
	font-size: 12px;
	padding-top: 30px;
}

.copyright {
	float: left;
}

.footer-links {
	width: 70%;
	float: right;
	text-align: right;
}

.footer-links a {
	color: #494949;
	padding: 0 5px;
	text-decoration: none;
}

.footer-links a:hover {
	color: #000;
	text-decoration: underline;
}




.divider {
	height: 0px;
	border-width: 1px;
	border-style: solid; 
	border-top-color: #7b7b7b;
	margin-bottom: 20px;
	border-bottom-color: #b1b1b1;
}


/* media queries in here */

@media (max-width: 355px) {

	.hidden-small {
		 visibility: hidden;
	}

	nav {
		height: 30px;
	}

	nav ul li {
		margin: 0 1px;
	}

	nav ul li a {
		padding: 5px 3px 0px 3px;
		font-size: 11px;
		height: 20px;
	}

}


@media (max-width: 799px) and (min-width: 356px) {
	
	#logo {
		width: 190px;
		height: 30px;

	}

	.logo-container {
		padding-top: 20px;
		padding-left: 10px;
	}

	.links-container {
		padding-top: 15px;
		text-align: center;
	}

	.links-container a {
		line-height: 10px;
		font-size: 10px;
		padding-bottom: 7px;
	}

	.links-container input {
		width: 35px;
	}

	#input_container {
		width: 70px;
	}

	.main-content {
		
	}
	
	.sidebar {
		margin-bottom: 25px;
	}

	.footer-links {
		width: 100%;
		text-align: center;
	}

	.copyright {
		text-align: center;
		margin: 20px;
		width: 100%
	}

	
	nav {
		height: 30px;
	}

	nav ul li {
		margin: 0 1px;
	}

	nav ul li a {
		padding: 6px 6px 0px 6px;
		font-size: 14px;
		height: 22px;
	}

}


@media (min-width: 800px) { 

	.logo-container {
		width: 30%;
		padding-top: 30px;
		float: left;
	}

	.links-container {
		float: right;
		width: 69%;
		padding-top: 15px;
		text-align: right;
	}
	
	.main-content {
		width: 65%;
		float: left;
	}

	.sidebar {
		width: 33%;
		float: right;
		margin-bottom: 20px;
	}

}


.sidebar {
	background: rgb(173,173,173); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(173,173,173,1) 0%, rgba(127,127,127,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(173,173,173,1)), color-stop(100%,rgba(127,127,127,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(173,173,173,1) 0%,rgba(127,127,127,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(173,173,173,1) 0%,rgba(127,127,127,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(173,173,173,1) 0%,rgba(127,127,127,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(173,173,173,1) 0%,rgba(127,127,127,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


footer {
	background: rgb(124,124,124); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(124,124,124,1) 0%, rgba(137,137,137,1) 0%, rgba(154,154,154,1) 1%, rgba(177,177,177,1) 1%, rgba(194,194,194,1) 2%, rgba(207,207,207,1) 2%, rgba(217,217,217,1) 3%, rgba(221,221,221,1) 3%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(0%,rgba(137,137,137,1)), color-stop(1%,rgba(154,154,154,1)), color-stop(1%,rgba(177,177,177,1)), color-stop(2%,rgba(194,194,194,1)), color-stop(2%,rgba(207,207,207,1)), color-stop(3%,rgba(217,217,217,1)), color-stop(3%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(137,137,137,1) 0%,rgba(154,154,154,1) 1%,rgba(177,177,177,1) 1%,rgba(194,194,194,1) 2%,rgba(207,207,207,1) 2%,rgba(217,217,217,1) 3%,rgba(221,221,221,1) 3%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(137,137,137,1) 0%,rgba(154,154,154,1) 1%,rgba(177,177,177,1) 1%,rgba(194,194,194,1) 2%,rgba(207,207,207,1) 2%,rgba(217,217,217,1) 3%,rgba(221,221,221,1) 3%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(137,137,137,1) 0%,rgba(154,154,154,1) 1%,rgba(177,177,177,1) 1%,rgba(194,194,194,1) 2%,rgba(207,207,207,1) 2%,rgba(217,217,217,1) 3%,rgba(221,221,221,1) 3%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(124,124,124,1) 0%,rgba(137,137,137,1) 0%,rgba(154,154,154,1) 1%,rgba(177,177,177,1) 1%,rgba(194,194,194,1) 2%,rgba(207,207,207,1) 2%,rgba(217,217,217,1) 3%,rgba(221,221,221,1) 3%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

}

.accordion dt {
	background: rgb(117,117,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(117,117,117,1) 0%, rgba(83,83,83,1) 3%, rgba(65,65,65,1) 97%, rgba(46,46,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,117,117,1)), color-stop(3%,rgba(83,83,83,1)), color-stop(97%,rgba(65,65,65,1)), color-stop(100%,rgba(46,46,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(117,117,117,1) 0%,rgba(83,83,83,1) 3%,rgba(65,65,65,1) 97%,rgba(46,46,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(117,117,117,1) 0%,rgba(83,83,83,1) 3%,rgba(65,65,65,1) 97%,rgba(46,46,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(117,117,117,1) 0%,rgba(83,83,83,1) 3%,rgba(65,65,65,1) 97%,rgba(46,46,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(117,117,117,1) 0%,rgba(83,83,83,1) 3%,rgba(65,65,65,1) 97%,rgba(46,46,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */

}

